.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    width: 100%;
    min-width: 560px;
    background-color: white;
    z-index: 999;
}

.logo-container img{
    width: 100px;
    height: 100px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.headerList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerItem {
    font-family: 'Arial';
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}

.search-container, .cart-container {
    display: flex;
    align-items: center;
}

.searchBtn, .cartBtn {
    cursor: pointer;
    margin-right: 30px;
}

