/* Slider Container */
.slider-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
.slick-list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.slick-slide div {
    outline: none;
    cursor: pointer;
}

.slick-dots {
    bottom: 1.25rem;
    margin-top: 12.5rem;
}

.slick-prev {
    z-index: 1;
    left: 3.125rem;
    width: 2.5rem;
    height: 5rem;
    color: black;
    opacity: 0.5;
}

.slick-next {
    right: 3.125rem;
    width: 2.5rem;
    height: 5rem;
    color: black;
    opacity: 0.5;
}

/* Image styling */
.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 30rem;
    object-fit: contain;
}

/* Image container margin */
.image-container {
    margin: 0;
}
